{% assign global = site.translations[site.lang].global %}
{% assign lang = site.translations[site.lang] %}


{% comment %}
<!-- Place in data file -->
test:
  variables: |
    * Site Title {{ site.title }}
    * [Site Link]({{ site.url }})
    * Language: {{ global.lang }}
    * **Bold Text**
    * __More Bold Text__
    * *Italic Text*
{% endcomment %}

<br><br>

<h5>Liquify/Markdownify Converter:</h5>
{{ lang.test.variables | liquify | markdownify }}

<h5>Custom Converter:</h5>
{% include tools/content-converter.html content=lang.test.variables %}