<!DOCTYPE html>
<html lang="en" class="h-100">
  {%- include partials/head.html -%}
  <body class="d-flex flex-column h-100">
    {%- if site.enableNotification == true -%}
      {%- include partials/notification.html -%}
    {%- endif -%}
    {%- if site.enableToast == true -%}
      {%- include partials/toast.html -%}
    {%- endif -%}
    {%- include partials/nav.html -%}
    {{ content }}
    <!-- Bootstrap JS Bundle with Popper -->
    {{site.bootstrap_js}}
    <!-- Custom JS -->
    <script src="/assets/js/main.js" type="application/javascript"></script>
  </body>
</html>