<div id="footer" class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row justify-content-center">
      <div class="col-12 col-md">
        <a href="index.html">
          <img class="mb-2" src="/assets/img/logo.png" alt="" width="75" height="75">
        </a>
        <small class="d-block mb-3 text-muted">Rocket Pool</small>
      </div>
      <div class="col-12 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://app.uniswap.org/#/swap?outputCurrency=0xb4efd85c19999d84251304bda99e90b92300bd93">Buy RPL</a></li>
          <li><a class="text-muted" href="https://www.rocketpool.net/">Website</a></li>
          <li><a class="text-muted" href="https://beta.rocketpool.net/">Beta Site</a></li>
          <li><a class="text-muted" href="https://www.rocketpool.net/#roadmap">Roadmap</a></li>
          <li><a class="text-muted" href="https://www.rocketpool.net/files/RocketPoolWhitePaper.pdf">Whitepaper</a></li>
        </ul>
      </div>
      <div class="col-12 col-md">
        <h5>Learn</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://medium.com/rocket-pool/rocket-pool-101-faq-ee683af10da9">FAQ</a></li>
          <li><a class="text-muted" href="https://rocket-pool.readthedocs.io/en/latest/rocket-pool/introduction.html">Technical Docs</a></li>
          <li><a class="text-muted" href="https://medium.com/rocket-pool/rocket-pool-staking-protocol-part-1-8be4859e5fbd">Staking Protocol Pt 1</a></li>
          <li><a class="text-muted" href="https://medium.com/rocket-pool/rocket-pool-staking-protocol-part-2-e0d346911fe1">Staking Protocol Pt 2</a></li>
          <li><a class="text-muted" href="https://medium.com/rocket-pool/rocket-pool-staking-protocol-part-3-3029afb57d4c">Staking Protocol Pt 3</a></li>
        </ul>
      </div>
      <div class="col-12 col-md">
        <h5>Follow</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://medium.com/rocket-pool">News</a></li>
          <li><a class="text-muted" href="{{site.discord_invite}}">Discord</a></li>
          <li><a class="text-muted" href="https://twitter.com/Rocket_Pool">Twitter</a></li>
          <li><a class="text-muted" href="https://github.com/rocket-pool/rocketpool">Github</a></li>
          <li><a class="text-muted" href="https://dao.rocketpool.net/">Forum</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>